dubbo-comsumer/src/main/resources/jiushu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://github.com/gaoxianglong/dubbo3_test/tree/master/dubbo-comsumer/src/main/resources"
        xmlns:jiushu="https://github.com/gaoxianglong/dubbo3_test/tree/master/dubbo-comsumer/src/main/resources"
        elementFormDefault="qualified">
    <element name="bean">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="value" type="string"/>
        </complexType>
    </element>
</schema>