dubbo-comsumer/src/main/resources/jiushu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.lexueba.com/schema/user"
        xmlns:jiushu="http://www.lexueba.com/schema/user"
        elementFormDefault="qualified">
    <element name="bean">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="value" type="string"/>
        </complexType>
    </element>
</schema>